{# Include this template inside the page.html.twig in drupal. #}

<div class="secondary_header bg-backgroundNeutral-neutralLight ">
  <div class="container">
    {% block secondary_header_block %}
      {% if secondary_header_menu %}
        <div class="flex justify-between items-center py-2.5"> 
          {{ secondary_header_menu }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
</div>

{% block header_block %}
  {% include '@unicefvfCustom/header/_primaryheader.twig' with {
    menu: primary_menu,
    search: search_block,
    login: login_block,
    signup: sign_up_block,
    position: header_position,
    hamburger_type: header_navigation_type,
  } only %}
{% endblock %}



{{ highlighted }}

{# {% if breadcrumb %}
  {{ breadcrumb }}
{% endif %} #}

<main class="main-content bg-white">
  {% block main %}
    <p>Main content</p>
  {% endblock %}
</main>

{% block footer_block %}
  {% include "@organisms/footer/footer.twig" with {
    footer_top_left: footer_top_left,
    footer_top_right: footer_top_right,
    footer_middle_left: footer_middle_left,
    footer_middle_right: footer_middle_right,
    footer_bottom_left: footer_bottom_left,
    footer_bottom_right: footer_bottom_right,
    colour: colour,
    type: footer_type,
  } only %}
{% endblock %}
