{#
/**
 * @file
 * logo
 *
 * See logo.space.yaml for documentation.
 */
#}

{# Template #}
{% block header_logo_block %}
  <a class="site-logo inline-block" href="{{ link }}" target="_blank">
    {{ logo_image }}
  </a>
{% endblock %}
